      <pou name="$pouName" pouType="program">
        <interface>
          <localVars>
            <variable name="clock">
              <type>
                <array>
                  <dimension lower="0" upper="5" />
                  <baseType>
                    <derived name="mt.timerRtc" />
                  </baseType>
                </array>
              </type>
            </variable>
          </localVars>
        </interface>
        <body>
          <ST>
            <xhtml xmlns="http://www.w3.org/1999/xhtml">//Loader for HMI
$loader

//Call to execute $device processing
$data

			</xhtml>
          </ST>
        </body>
      </pou>