        <variable name="signal1">
          <type>
            <REAL />
          </type>
          <initialValue>
            <simpleValue value="1" />
          </initialValue>
          <documentation>
            <xhtml xmlns="http://www.w3.org/1999/xhtml">example 1</xhtml>
          </documentation>
        </variable>


        <variable name="reqV1">
          <type>
            <derived name="mt.udtDevDiscrete" />
          </type>
          <documentation>
            <xhtml xmlns="http://www.w3.org/1999/xhtml">Valve V1 open request</xhtml>
          </documentation>
        </variable>